bin/
obj/
imgui.ini
/.vs/Chip8Emu/copilot-chat/4070717b/sessions
/.vs/Chip8Emu/CopilotIndices/17.14.1431.25910
/.vs/Chip8Emu/CopilotIndices/17.14.1431.25910/CodeChunks.db
/.vs/Chip8Emu/DesignTimeBuild
/.vs/Chip8Emu/FileContentIndex
/.vs/CopilotSnapshots/6B14D772847C944694FC356FE0227A82
/.vs/Chip8Emu/v17
/.vs
.vscode/settings.json
